.nav{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid gray;
  box-shadow: 0px 0px 5px gray;
}

.bx1{
  display: flex;
  align-items: center;
  gap: 30px;
  color: rgb(68, 61, 61);
}

.bxx1{
  display: flex;
  gap: 20px;
}

.bxx1 > button{
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;

}

section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
  }
  section h1{
    font-size: 60px;
  }
  section p{
    color: rgb(68, 62, 62);
  }

  section h3{
    color: orangered;
  }
section img{
  width: 750px;
}

.btn{
  padding: 15px 30px ;
  background-color: #F46752;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.bx2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F5F2;
  padding: 50px 0px;
}

.bx2 h3{
  color: rgb(207, 75, 13);
}
.bx2 h1{
  font-size: 50px;
}

.bnt1{
  background-color: white;
  border: none;
  font-size: 15px;
  margin-top: 20px;
  border: 1px solid gray;
  padding: 15px 30px;
  border-radius: 10px;

}
.bx2 p{
  color: rgb(68, 64, 64);
}

.bxx2{
  background-color: white;
  padding: 100px 0px;
}

.bx3{
  text-align: center;
  background-color: #F9F5F2;
  padding: 100px 0px;
}

.img{
  position: absolute;
  top: 2050px;
  left: 430px;
}

.bxx3{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bxx3 div{
  width: 300px ;
  height: 300px;
  background-color: white;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0px 0px 10px rgb(180, 176, 176);
}

.img1{
  top: 2750px;
  left: 1160px;
}

.bx4{
  background-color: #363839;
  color: white;

}

.bx4 p{
  color: rgb(160, 156, 156);
}


.bxx4{
  display: flex;
  justify-content: space-around;
  padding: 60px 100px;
  align-items: center;
  gap: 50px;
  margin-top: 50px;

}

.btn11{
  padding: 15px 30px ;
  background-color: #d13219;
  border: none;
  color: white;
  border-radius: 5px;
}

.bx4 h3{
  color: #F46752;
}

.bxxxx2{
  gap: 50px;
}

.box1{
  width: 200px ;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.bx5{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: white;
  padding: 150px 0px;
}

.bx6 p{
    color: rgb(92, 91, 91);
}

.box11{
  background-color: #A9D8FF4D;
  color: blue;
}

.boxx22{
  background-color: #FFAE684D;
  color: #d13219;
}

.boxx33{
  background-color: #FA52404D;
  color: #a01e0a;
}

.boxx44{
  background-color: #126F854D;
  color: #126F85 ;
}
.bx6{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #A9D8FF4D;
  padding: 150px 0px 70px 0px;
}

.imgbx6{
  position: absolute;
  top: 5000px;
  left: 100px;
}

.img2bx6{
  position: absolute;
  top: 5250px;
  left: 1000px;
}

.bx7{
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 100px 0px;
}

.bx7 p{
  color: rgb(88, 86, 86);
}

.bx7 button{
    padding: 15px;
    background-color: rgb(2, 2, 54);
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
}

.bx7 input{
  padding: 15px;
  
}