@import "tailwindcss";

.header {
  height: 100px;
 background-color: blue;
  color: white;

}
.main {
  background-color: white;
  color: black;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footer{
  background-color: blue;
  color: white;
  height: 100px;
}

